<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/app.css' />
  </head>
  <body>
    <div id="app"><%- html %></div>
    <!-- <h1><%= title %></h1>
    <p>EJS Welcome to <%= title %></p> -->
    <script src="/js/app.js"></script>
  </body>
</html>
